.log-form{
    margin-top: 150px;
    opacity: .9;
    box-shadow: 20px 20px 150px 50px  #c5b934  ;
}

@media screen and (max-width: 360px) {
    .log-form{
        position: absolute;
        left: 57px;
    }
}