.reg-form{
    margin-top: 150px;
    opacity: .9;
    box-shadow: 20px 20px 150px 50px  #c5b934  ;
}

@media screen and (max-width: 320px) {
    .reg-form{
        position: absolute;
        left: 0;
    }
}

@media screen and (max-width: 425px) {
    .reg-form{
        position: absolute;
        left: 20px;
    }
}

