@import "~materialize-css/dist/css/materialize.min.css";

*{
    transition: .3s all;
}

body{
    background-image: url("https://ffwallpaper.com/wallup/italian-food/italian-food-16.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}



.inputAuth{
    border-bottom: 1px solid #fff!important;
    box-shadow: 0 1px 0 0 white;
}

.inputAuth + label {
    color: white!important;
}

.inputAuth:focus{
    border-bottom: 1px solid #ffeb3b!important;
    box-shadow: 0 1px 0 0 #ffeb3b;
}