.buttonWrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.allPrice {
    background-color: #26a69a;
    padding: 2px 5px;
    color: white;
    margin-top: 30px;
    font-size: 20px;
}

.main-selected{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgba(197, 185, 52, 0.51);
}


#btn-min{
    margin: -8px;
}
