.headerHome {
    color: #aa552d;
    background: rgba(255, 255, 255, 0.66);
    padding: 15px;
    border-radius: 15px;
}

.carousel{
    margin-top: 50px;
    margin-bottom: 200px;
    border-radius: 15px;
    opacity: .9;
    box-shadow: 30px 30px 100px 50px #c5b934;
}