.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(197, 185, 52, 0.51);
    padding: 10px;
}


.grid-item {
    background: inherit;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.rows, .col, .input-fields {
    width: 100%;
}

.col {
    height: 180px;
}

.pizzaContainer {
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.materialize {
    width: 400px;
    height: 30px;
    max-width: 500px;
    max-height: 100px;
    min-width: 40%;
    min-height: 30px;
    font-size: 16px;
    text-align: center;
    outline: none;
    border-color: rgb(117, 99, 47);
}


.labelDescription {
    font-size: 16px;
    color: black;
}

.waves-light {
    margin-left: 20px;
}

.btn:hover{
    background: red;
}

#btn-add:hover{
    background: #a20000;
}