table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background: rgba(128, 128, 128, 0.62);
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.head {
    color: #847e3f;
    background: rgba(255, 255, 255, 0.66);
    padding: 15px;
    border-radius: 15px;
}