

.select{
    margin-bottom: 100px;
    text-align: center;
    background: white;
    opacity: .7;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 30px 30px 100px 50px #c5b934;
}



hr{
    border: 2px solid red;
}